/* src/theme/light-theme.css */

:root {
    --background-color: #F6FFF8;
    --primary-color: #6B9080;
    --secondary-color: #A4C3B2;
    --tertiary-color: #CCE3DE;
    --quaternary-color: #EAF4F4;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
}
